.img_circle {
  border-radius: 50%;
  width: 150px;
  margin-top: 40px;
  vertical-align: middle;
}

h3 {
  font-size: 17px;
  font-weight: bold;
  color: rgba(0,0,0,0.6);
  margin-top: 25px;
  margin-bottom: 12.5px;
}


